 h1, h2{
    text-align: center;
    font-size: 3rem;
    color: red;
}
#seconds{
    margin-left:  16vw;
    
}


#seconds, #tens, #minutes, #hours{
    color: red;
    font-size: 6rem;
    margin: 2vw;
    width: 2vw;
    height: 2vh;
    background-color: black;
    padding:  0 0vh 2vh 2vh;
    
    text-align: center;
    
}
button{
    width: 12vw;
    height: 8vh;
    color: red;
    text-align: center;
    font-size: 2rem;
    margin-left: 10vw;
    margin-top: 8vh;
    font-weight: bolder;
    background-color: rgb(0, 195, 255);
    cursor: pointer;
    
}
.dots{
    font-size: 6rem;
    color: red;
    
}
.container{
    height: 22vh;
    width: 78vw;
    background-color: chocolate;
    border: 2rem solid yellow;
    padding-left:  2vw;
  
}
.mili{
position: relative;
top: 8vh ;
right:  11vw;
font-size: 1.5rem;
color: red;
font-weight: bolder;
}
.sec{

position: relative;
top: 8vh ;
right:  10vw;
font-size: 1.5rem;
color: red;
font-weight: bolder;

}
.hour{

    position: relative;
    top: 8vh ;
    right:  7vw;
    font-size: 1.5rem;
    color: red;
font-weight: bolder;

    }

.min{

    position: relative;
    top: 8vh ;
    right:  10vw;
    font-size: 1.5rem;
    color: red;
font-weight: bolder;

    }

